
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row justify-content-center">
        <p class="col-md-9">Please <a asp-area="Identity" asp-page="/Account/Register">Register</a>  to start using this application where you can create, store and edit your notes. If you  have already an account please <a asp-area="Identity" asp-page="/Account/Login">Log in</a> </p>

    </div>
</div>