@model List<Note>
@{
    ViewData["Title"] = "My Notepad";
}


@if (Model.Count == 0)
{
    <p>Sorry, There is not any note to show you :( </p>
}
else
{
    <h2>Notlarım</h2>
    @foreach (Note note in Model)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@note.Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @note.Content <br />
                        <a asp-controller="Notes" asp-action="Delete" asp-route-id="@note.Id" class="btn btn-outline-danger mt-3">Delete</a> ||
                        <a asp-controller="Notes" asp-action="Edit" asp-route-id="@note.Id" class="btn btn-outline-primary mt-3">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    }
}

<a asp-controller="Notes" asp-action="Yeni" class="btn btn-primary m-3"> Add New Note </a>



